ROOT_DOMAIN=hippocloud.de
ACME_EMAIL=v.youbi@hipposideros.de

POSTGRES_USER=hippoject
POSTGRES_PASSWORD=change-me
POSTGRES_DB=hippoject

KEYCLOAK_REALM=hippoject
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

GHCR_USERNAME=valere-hippo
GHCR_TOKEN=change-me

EMAIL_NOTIFICATIONS_ENABLED=false
SMTP_SERVER=
SMTP_PORT=587
EMAIL=
PASSWORD=
